<!-- <div class="col-4">
  <dl-date-time-picker
    startView="day"
    maxView="year"
    minView="hour"
    minuteStep="1"
    [(ngModel)]="model.start">
  </dl-date-time-picker>
<p>{{model.start}}</p>
</div> -->

<div class="container mt-5">
  <form #reservationForm="ngForm" (ngSubmit)="reservationAdd()">
    <h2 class="text-center text-green">Zarezerwuj wizytę</h2>
    <h4 class="text-center text-green">Gabinet czynny od poniedziałku do piątku w godzinach 9-17</h4>
  
    <hr>
    
    <dl-date-time-picker
    startView="day"
    maxView="year"
    minView="hour"
    minuteStep="1"
    name="start"
    [(ngModel)]="model.start">
  </dl-date-time-picker>
  <p>{{model.start}}</p>
    <button [disabled]="!reservationForm.valid" class="btn btn-success" type="submit">Zarezerwuj</button>
  </form>
</div>





