<div class="container mt-4">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div>
          <h5 class="card-title">Szczegóły pacjenta:</h5>
        </div>
        <div>
          <strong>Imie:</strong>
          <p>{{user?.name}}</p>
        </div>
        <div>
          <strong>Nazwisko:</strong>
          <p>{{user?.surname}}</p>
        </div>
        <div>
          <strong>Data urodzenia:</strong>
          <p>{{user?.dateOfBirth}}</p>
        </div>
        <div>
          <strong>Adres:</strong>
          <p>{{user?.address}}</p>
        </div>
        <div>
          <strong>Ostatnia wizyta:</strong>
          <p>{{user?.lastVisit}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary w-100" [routerLink]="['/users', user.id, 'visits']" routerLinkActive="router-link-active">Poprzednie wizyty</button>
          <button class="btn btn-success w-100" [routerLink]="['/users', user.id, 'visits', 'add']" routerLinkActive="router-link-active">Dodaj wizytę</button>
        </div>
      </div>
    </div>
  </div>
</div>