<div class="container mt-4">
    <form [formGroup]="addForm" (ngSubmit)="addVisit()">

      <h2 class="text-center text-green">Dodaj wizytę</h2>
    
      <hr>
    
      <div class="row">
        <div class="form-group">
          <input type="number" [ngClass]="{'is-invalid': addForm.get('tooth').errors && addForm.get('tooth').touched}" class="form-control"
            placeholder="Leczony ząb" formControlName="tooth" min="1" max="32">
          <div class="invalid-feedback" *ngIf="addForm.get('tooth').touched && addForm.get('tooth').hasError('required')">Prosze podać ząb, który był leczony</div>
          <div class="invalid-feedback" *ngIf="addForm.get('tooth').touched && addForm.get('tooth').hasError('min')">Numer zęba musi być z przedziału 1-32</div>
          <div class="invalid-feedback" *ngIf="addForm.get('tooth').touched && addForm.get('tooth').hasError('max')">Numer zęba musi być z przedziału 1-32</div>
          <input type="number" [ngClass]="{'is-invalid': addForm.get('price').errors && addForm.get('price').touched}" class="form-control"
            placeholder="Cena" formControlName="price">
          <div class="invalid-feedback" *ngIf="addForm.get('price').touched && addForm.get('price').hasError('required')">Prosze podać cenę</div>
        </div>
      </div>
      
    
      <div class="form-group">
        <textarea [ngClass]="{'is-invalid': addForm.get('description').errors && addForm.get('description').touched}" class="form-control"
          placeholder="Opis" formControlName="description" rows="6"></textarea>
        <div class="invalid-feedback" *ngIf="addForm.get('description').touched && addForm.get('description').hasError('required')">Prosze podać opis leczenia</div>
      </div>
    
      <!-- <div class="form-group">
        <input type="number" [ngClass]="{'is-invalid': addForm.get('price').errors && addForm.get('price').touched}" class="form-control"
          placeholder="Cena" formControlName="price">
        <div class="invalid-feedback" *ngIf="addForm.get('price').touched && addForm.get('price').hasError('required')">Prosze podać cenę</div>
      </div> -->
      
    
      <div class="form-group text-center">
        <button class="btn btn-success" [disabled]="!addForm.valid" type="submit">Dodaj wizytę</button>
        <button class="btn btn-default" type="button" [routerLink]="['/users', user.id, 'visits']" routerLinkActive="router-link-active">Cofnij</button>
      </div>
    </form>
</div>

